In [1]:
import psycopg2
import pandas as pd
from nba_api.stats.endpoints import commonplayerinfo
import time

from sqlalchemy import create_engine
#To do: fill in missing position values

In [2]:
#Import data from parquet files and prep for creation for database tables
player_df = pd.read_parquet('../data/players_stats_by_season.parquet')
player_df = player_df.drop(['NICKNAME', 'CFID', 'CFPARAMS'], axis = 1)
player_df.columns= player_df.columns.str.strip().str.lower()
player_df['player_name'] = player_df['player_name'].str.lower()
player_df['team_abbreviation'] = player_df['team_abbreviation'].str.lower()

player_df = player_df.rename(columns = {'in_the_paint_(non-ra)_fgm': 'in_the_paint_non_ra_fgm',
                                       'in_the_paint_(non-ra)_fga' : 'in_the_paint_non_ra_fga',
                                       'in_the_paint_(non-ra)_fg_pct' : 'in_the_paint_non_ra_fg_pct',
                                       'mid-range_fgm' : 'mid_range_fgm',
                                       'mid-range_fga' : 'mid_range_fga',
                                       'mid-range_fg_pct' : 'mid_range_fg_pct'})

team_df = pd.read_parquet('../data/team_stats_by_season.parquet')
team_df = team_df.drop(['CFID', 'CFPARAMS'], axis = 1)
team_df.columns= team_df.columns.str.strip().str.lower()
team_df['team_name'] = team_df['team_name'].str.lower()


#Adding team name instead of abbreviation to player_df
# team_name_df = team_df[['team_id', 'team_name']]
# team_name_df = pd.DataFrame(team_name_df.groupby('team_id')['team_name'].unique())
# team_name_df['team_name'] = team_name_df['team_name'].str[0]
# player_df = pd.merge(player_df, team_name_df,  on = ['team_id'], how = 'left')

In [3]:
#Get salary cap for each season
team_salary_cap = pd.read_csv('../data/salary_cap_by_season.csv', names = ['season', 'salary_cap', 'salary_cap_adj'])
team_df = pd.merge(team_df, team_salary_cap, on = 'season')

In [4]:
#Player Salary from 2020 season onward
recent_player_salary = pd.read_csv('../data/NBA Players Salaries 1920.csv').drop(columns = ['Rk', '2022-23','2023-24', '2024-25', 'Signed Using', 'Guaranteed'])
recent_player_salary.columns= recent_player_salary.columns.str.strip().str.lower()
recent_player_salary =recent_player_salary.rename(columns = {'player': 'player_name', 'tm': 'team_abbreviation'})

In [5]:
#Clean up recent player salary data
recent_player_salary['2019-20'] = recent_player_salary['2019-20'].str[:-5][:50].fillna(0).astype(int)
recent_player_salary['2020-21'] = recent_player_salary['2020-21'].str[:-5][:50].fillna(0).astype(int)
recent_player_salary['2021-22'] = recent_player_salary['2021-22'].str[:-5][:50].fillna(0).astype(int)

recent_player_salary['team_abbreviation'] = recent_player_salary['team_abbreviation'].str.lower()
recent_player_salary['player_name'] = recent_player_salary['player_name'].str.split("\\").str[0].str.lower()

In [6]:
#Manipulate recent salary to join to player_df
recent_player_salary = recent_player_salary.melt(id_vars=["player_name", "team_abbreviation"], 
        var_name="season", 
        value_name="salary")

In [7]:
#Get each players salary by season (so far up to 2020)
#Clean up player salary data to match other data
player_salary = pd.read_csv('../data/nba-salaries.csv')
player_salary['player_name'] = player_salary['player_name'].str.lower()
player_salary['team_name'] = player_salary['team_name'].str.lower()
player_salary['season'] = (player_salary['season'] - 1).apply(str) + "-" + player_salary['season'].apply(str).str[-2:]
player_salary['team_name'] = player_salary['team_name'].replace( 'no/oklahoma city\r\n hornets','new orleans hornets')
player_salary['team_name'] = player_salary['team_name'].replace( 'no/oklahoma city hornets','new orleans hornets')
drop_teams = [
       'null unknown', 'madrid real madrid',
       'bilbao basket bilbao basket', 'fenerbahce ulker fenerbahce ulker',
       'maccabi haifa maccabi haifa']
player_salary = player_salary[~player_salary['team_name'].isin(drop_teams)]

In [8]:
#Add Team ID to player salary
team_name_df = team_df[['team_id', 'team_name']]
player_salary = pd.merge(player_salary, team_name_df, on =['team_name'], how = 'left').drop_duplicates()

In [9]:
#Add salary to each player in the player_df data
player_salary_merge = player_salary[['team_id', 'player_name', 'season', 'salary', 'position']]
player_df = pd.merge(player_df, player_salary_merge, on = ['team_id', 'player_name', 'season'], how = 'left')

In [10]:
#Add 2020 onward salary to each player
recent_player_salary = recent_player_salary.dropna()
player_df = pd.merge(player_df, recent_player_salary, on = ['player_name', 'team_abbreviation', 'season'], how = 'left')

In [11]:
recent_player_salary[recent_player_salary['player_name'] == 'lebron james']

       player_name team_abbreviation   season      salary
5     lebron james               lal  2019-20  37436858.0
573   lebron james               lal  2020-21  39219565.0
1141  lebron james               lal  2021-22  41002273.0

In [12]:
#Combine the two salary columns into one
player_df = player_df.rename(columns = {'salary_x': 'salary'})
player_df['salary'] = player_df['salary'].fillna(player_df['salary_y'])
player_df = player_df.drop(columns = ['salary_y'], axis = 1)

In [13]:
player_df[player_df['fg2m'].isna()].groupby('season').count()

,player_id,player_name,team_id,team_abbreviation,age,gp,w,l,w_pct,min,...,above_the_break_3_fga,above_the_break_3_fg_pct,backcourt_fgm,backcourt_fga,backcourt_fg_pct,corner_3_fgm,corner_3_fga,corner_3_fg_pct,salary,position
season,,,,,,,,,,,,,,,,,,,,,
1996-97,441,441,441,441,441,441,441,441,441,441,...,441,441,367,367,367,432,432,432,0,0
1997-98,439,439,439,439,439,439,439,439,439,439,...,438,438,378,378,378,433,433,433,0,0
1998-99,440,440,440,440,440,440,440,440,440,440,...,437,437,344,344,344,423,423,423,0,0
1999-00,439,439,439,439,439,439,439,439,439,439,...,439,439,372,372,372,435,435,435,151,151
2000-01,441,441,441,441,441,441,441,441,441,441,...,440,440,388,388,388,438,438,438,350,350
2001-02,440,440,440,440,440,440,440,440,440,440,...,440,440,391,391,391,438,438,438,393,393
2002-03,428,428,428,428,428,428,428,428,428,428,...,428,428,377,377,377,426,426,426,270,270
2003-04,442,442,442,442,442,442,442,442,442,442,...,441,441,385,385,385,439,439,439,159,159
2004-05,464,464,464,464,464,464,464,464,464,464,...,464,464,409,409,409,462,462,462,108,108
2005-06,458,458,458,458,458,458,458,458,458,458,...,456,456,413,413,413,454,454,454,399,399
2006-07,458,458,458,458,458,458,458,458,458,458,...,458,458,410,410,410,454,454,454,417,417
2007-08,451,451,451,451,451,451,451,451,451,451,...,451,451,412,412,412,450,450,450,395,395
2008-09,445,445,445,445,445,445,445,445,445,445,...,445,445,407,407,407,443,443,443,399,399
2009-10,442,442,442,442,442,442,442,442,442,442,...,441,441,409,409,409,439,439,439,398,398
2010-11,452,452,452,452,452,452,452,452,452,452,...,452,452,439,439,439,451,451,451,402,402
2011-12,478,478,478,478,478,478,478,478,478,478,...,478,478,467,467,467,477,477,477,447,447
2012-13,469,469,469,469,469,469,469,469,469,469,...,469,469,456,456,456,465,465,465,418,418
2013-14,2,2,2,2,2,2,2,2,2,2,...,2,2,1,1,1,2,2,2,0,0
2014-15,2,2,2,2,2,2,2,2,2,2,...,2,2,0,0,0,1,1,1,1,1
2015-16,1,1,1,1,1,1,1,1,1,1,...,1,1,0,0,0,0,0,0,1,1
2016-17,1,1,1,1,1,1,1,1,1,1,...,1,1,0,0,0,0,0,0,1,1
2017-18,3,3,3,3,3,3,3,3,3,3,...,3,3,1,1,1,1,1,1,1,1
2018-19,4,4,4,4,4,4,4,4,4,4,...,3,3,0,0,0,1,1,1,0,0
2019-20,2,2,2,2,2,2,2,2,2,2,...,2,2,0,0,0,0,0,0,0,0
2020-21,1,1,1,1,1,1,1,1,1,1,...,1,1,0,0,0,1,1,1,0,0
2021-22,9,9,9,9,9,9,9,9,9,9,...,7,7,2,2,2,4,4,4,0,0

In [172]:
#Add in player position
nba_player_id = player_df['player_id'].unique()
position_df = pd.DataFrame()
counter = 0
for p_id in nba_player_id:
    try:
        player_info = commonplayerinfo.CommonPlayerInfo(player_id = p_id).get_data_frames()[0][['PERSON_ID', 'POSITION']]
        player_df.loc[player_df['player_id'] == p_id, 'position'] = player_info['POSITION'][0]
        #position_df = position_df.append(player_info)
    
    except:
        continue
        
    counter +=1
    print(counter)
    time.sleep(10)

1

KeyboardInterrupt:

In [23]:
#player_df.to_parquet('player_data_cleaned.parquet')

In [20]:
#Read cleaned player_data
player_data_cleaned = pd.read_parquet('../data/player_data_cleaned.parquet')

In [24]:
#player_data_cleaned[player_data_cleaned['player_name'] == 'lebron james']

In [27]:
#Create the temas and players tables from parque files
engine = create_engine('postgresql://postgres:Alpha7526!@localhost:5432/postgres')
team_df.to_sql('teams', engine)
player_data_cleaned.to_sql('players', engine)